body{

    border: 5px solid;
    border-color: white green white orange;
    opacity: 9;
}
.main
{
    background-image: url("sky.jpg");
    position: absolute;
    z-index: -1;
}
.head
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2px;
}
.happy
{
    border: 1px;;
    height:fit-content;
    width: fit-content;
    background-color: orange;
}
.in
{
    border: 1px;;
    height:fit-content;
    width: fit-content;
    background-color: white;
}
.day
{
    border: 1px;;
    height:fit-content;
    width: fit-content;
    background-color: green;
}
.sun
{
    margin-top: 30px;
    margin-left: 1145px;
    position: relative;
    animation-name: ex;
    animation-duration:10s;

}
@keyframes ex
{
    0%{
        right:0px;
        top:0px;
    }
    25%
    {
        top:0px;
        right:50px;
    }
    50%
    {
        
        right: 100px;
        top:0px;
    }
    75%
    {
        right: 150px;
        top:0px
    }

    100%
    {
        right: 150px;
        top:0px
    }
}

.car
{
    z-index: 2;
    position:absolute;
    margin-top: 350px;
    margin-left: 450px;
}
.flag
{
    z-index: 2;
    position:absolute;
    margin-top: 330px;
    margin-left: 710px;
}
.road
{
    position: relative;
    display:block;
    bottom:0;
    left:0;
    right:0;
    z-index:1;
    background-repeat: repeat-x;
    height:200px;
    animation: way 5s linear infinite;
}
@keyframes way
{
    100% {
        transform: translateX(-1400px);
    }
}
img {
    overflow-clip-margin: content-box;
    overflow: clip; 
}
.city
{
    background-image:url("city.png");
    display:block;
    position: relative;
    height:200px;
    bottom:0;
    left:0;
    right:0;
    animation: city 10s linear infinite;
    background-repeat: repeat-x;
}
@keyframes city
{
    100% {
        transform: translateX(-1400px);
    } 
}
.t1
{
    z-index: 2;
    position:absolute;
    margin-top: 460px;
    margin-left: 485px;
    animation: rotate 4s infinite;
}
@keyframes rotate
{
    100%
    {
        transform: rotate(180deg);
    }
}
.t2
{

    z-index: 2;
    position:absolute;
    margin-top: 460px;
    margin-left: 730px;
    animation: rotate1 4s infinite;
}
@keyframes rotate1
{
    100%
    {
        transform: rotate(180deg);
    }
}
